extends ./share/bootstrap.pug

block content
    include ./share/navbar.pug
    div.w-75.m-auto.py-3
        h1 Upload
        form(action="/upload", method="post" enctype="multipart/form-data")
            div.input-group.my-3
                input.form-control#uploadInput(type="file" name="upload" accept="image/*")
                span.input-group-text Size&nbsp; 
                    span#imgSize 0
                    span &nbsp;MB
                button.btn.btn-primary.input-group-text(type="submit") Submit
                    if isLoading == true
                        span &nbsp;
                        span.spinner-border.spinner-border-sm 
        i#fileCheckerMessage
        if error
            i.text-danger= error
        div.text-center
            img#previewImage
        h1 Gallery
        div.g-2.g-lg-3.row.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4
            if resources
                each item in resources
                    div.card.p-0.d-flex.flex-column
                        div.flex-grow-1
                        img(src=item.url)
                        div.flex-grow-1
                        div.card-footer
                            div.input-group.my-3
                                input.form-control.copyText(type="text" value=item.url)
                                button.btn.btn-primary.input-group-text.copyBtn Copy 
                                a.btn.btn-danger.input-group-text(href="/delete/" + item.public_id.replace('CodingClub/', '')) Delete
    script(src="./app.js") 