nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid.w-75.p-0
        a.navbar-brand.fw-bold(href="/") Cloudinary Gallery
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbar
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active.text-success(href="") All Media
                li.nav-item
                    a.nav-link.active.text-success(href="") Upload Image